<div class="vehicle-list">
  <div class="loading-overlay" *ngIf="isLoading">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="48"
      class="loading-spinner">
    </mat-progress-spinner>
  </div>

  <div class="content-container" [class.loading]="isLoading">
    <div class="table-container mat-elevation-z8">
      <div *ngIf="!dataSource.data.length && !isLoading" class="empty-state">
        <p>Brak pojazdów do wyświetlenia</p>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="vehicle-table"
        *ngIf="dataSource.data.length">

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="header-cell">Marka</span>
          </th>
          <td mat-cell *matCellDef="let vehicle">
            {{ vehicle.brand }}
          </td>
        </ng-container>

        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="header-cell">Model</span>
          </th>
          <td mat-cell *matCellDef="let vehicle">
            {{ vehicle.model }}
          </td>
        </ng-container>

        <ng-container matColumnDef="licensePlate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="header-cell">Numer rejestracyjny</span>
          </th>
          <td mat-cell *matCellDef="let vehicle">
            {{ vehicle.licensePlate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>

          </th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <i
              title="Szczegóły pojazdu"
              class="bi-arrow-right-circle align-content-end action-icon m-2"
              (click)="navigateToDetails(row.vehicleId)"
              (mouseover)="hoveredAction = 'details-' + row.vehicleId"
              (mouseleave)="hoveredAction = null"
              [style.color]="hoveredAction === 'details-' + row.vehicleId ? 'green' : 'inherit'">
            </i>
            <i
              title="Usuń pojazd"
              class="bi-trash align-content-end action-icon"
              (click)="confirmDelete(row)"
              (mouseover)="hoveredAction = 'delete-' + row.vehicleId"
              (mouseleave)="hoveredAction = null"
              [style.color]="hoveredAction === 'delete-' + row.vehicleId ? 'red' : 'inherit'">
            </i>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr
          mat-row
          *matRowDef="let vehicle; columns: displayedColumns;"
          [class.highlighted-row]="selectedVehicle === vehicle.vehicleId"
          >
        </tr>


      </table>


    </div>

    <mat-paginator
      *ngIf="dataSource.data.length"
      [length]="paginationService.getCurrentState().totalItems"
      [pageSize]="paginationService.getCurrentState().pageSize"
      [pageIndex]="paginationService.getCurrentState().pageIndex"
      [pageSizeOptions]="[5, 10, 15]"
      (page)="onPageChange($event)"
      class="paginator">
    </mat-paginator>

  </div>
  <button mat-raised-button color="primary" (click)="openVehicleDialog()">
    Dodaj pojazd
  </button>
</div>
