.form-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.75rem;
  height: 370px;
  border-radius:20px;
}

.detail-item {
  background: #f8fafc;
  border-radius: 12px;
  padding: 0.75rem;
  margin: 0.2rem;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: center;
}

.detail-item:hover {
  transform: translateY(-3px);
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.detail-item .detail-label {
  color: #64748b;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.detail-item .detail-value {
  font-size: 1rem;
  color: #1e293b;
  font-weight: bold;
}
