<div class="vehicle-details-container">
  <div class="vehicle-card" *ngIf="vehicle">
    <app-vehicle-header
      [vehicle]="vehicle"
      [items]="items">
    </app-vehicle-header>
    <div class="content-wrapper">
      <app-vehicle-image
        [vehicleId]="vehicleId"
        [imageUrl]="vehicle.imageUrl">
      </app-vehicle-image>

      <app-vehicle-info-grid
        [vehicle]="vehicle">
      </app-vehicle-info-grid>
    </div>
  </div>

  <div *ngIf="vehicle" class="records-container">
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="Książka serwisowa">
        <app-service-book-tab
          [serviceBookId]="vehicle.serviceBookId">
        </app-service-book-tab>
      </p-tabPanel>

      <p-tabPanel header="Ubezpieczenia">
        <app-insurance-list
          #insuranceList
          [vehicleId]="vehicle.id">
        </app-insurance-list>
      </p-tabPanel>
    </p-tabView>
  </div>

  <app-loading-spinner *ngIf="!vehicle"></app-loading-spinner>
</div>
