<div class="sign-up-container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="!this.signUpForm.get('email')?.valid">Nieprawidłowy adres e-mail</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" required>
      <mat-error *ngIf="!this.signUpForm.get('password')?.valid">Hasło musi zawierać co najmniej 8 znaków</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Ukryj hasło'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
      Zarejestruj się
    </button>
  </form>
</div>
