<p-toast></p-toast>
<div class="animated-background">
  <div class="main-container">
    <div class="rectangle"></div>
    <div class="flex-column">
      <span class="join-to-us">Dołącz do menadżera pojazdów!</span>
      <h2>Rejestracja! 👋</h2>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="sign-up-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error
            *ngIf="
              signUpForm.get('email')?.invalid &&
              signUpForm.get('email')?.touched
            "
          >
            Nieprawidłowy adres e-mail
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput formControlName="password" type="password" required />
          <mat-error *ngIf="!this.signUpForm.get('password')?.valid">
            Hasło musi zawierać 8 - 16 znaków
          </mat-error>
        </mat-form-field>

        <button
          class="sign-up-button"
          mat-raised-button
          type="submit"
          [disabled]="this.signUpForm.invalid || isLoading()"
        >
          <mat-spinner
            *ngIf="isLoading()"
            diameter="20"
            class="spinner"
          ></mat-spinner>
          <span *ngIf="!isLoading()">Zarejestruj się</span>
        </button>
      </form>

      <div class="sign-in-option">
        <span>Masz już konto?</span>
        <a (click)="navigateToSignIn()" class="sign-in-link">Zaloguj się</a>
      </div>
    </div>

  </div>
</div>
