.sign-in-container {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 25px;
}

mat-form-field {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.fade-in {
  margin-top: 16px;
  animation: fadeIn 0.3s ease-in forwards;
}

.fade-out {
  margin-top: 16px;
  animation: fadeOut 0.3s ease-out forwards;
  opacity: 0;
}


