<p-toast></p-toast>
<div class="animated-background">
  <div class="main-container">
    <div class="rectangle"></div>
    <div class="flex-column-d">
      <span class="welcome">Witaj</span>
      <span class="glad-to-see">Miło cię widzieć w menadżerze pojazdów!</span>
      <h2>Logowanie! 👋</h2>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error
            *ngIf="
              signInForm.get('email')?.invalid &&
              signInForm.get('email')?.touched
            "
          >
            Nieprawidłowy adres e-mail
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput formControlName="password" type="password" required />
          <mat-error *ngIf="!this.signInForm.get('password')?.valid">
            Hasło musi zawierać 8 - 16 znaków
          </mat-error>
        </mat-form-field>

        <button
          class="login-button"
          mat-raised-button
          type="submit"
          [disabled]="signInForm.invalid || isLoading()"
        >
          <mat-spinner
            *ngIf="isLoading()"
            diameter="20"
            class="spinner"
          ></mat-spinner>
          <span *ngIf="!isLoading()">Zaloguj się</span>
        </button>
      </form>

      <div class="register-option">
        <span>Jesteś nowy?</span>
        <a routerLink="/rejestracja" class="register-link">Zarejestruj się</a>
      </div>
    </div>
  </div>
</div>
