<div class="page-container">
  <div *ngIf="isLoading">
    <app-loading-spinner/>
  </div>

  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="vehicles.length > 0; else emptyState">
      <div class="card flex justify-content-center">
        <app-filter
          *ngIf="uniqueBrands.length"
          [filterOptions]="uniqueBrands"
          (filterChange)="applyFilter($event)"
        />

        <app-sorting
          *ngIf="sortOptions.length"
          [sortOptions]="sortOptions"
          (sortChange)="applySorting($event)"
        />
      </div>

      <app-vehicle-list
        [vehicles]="vehicles"
        (navigateToDetails)="navigateToDetails($event)"
      />

      <div class="paginator-container">
        <app-pagination
          [first]="paginationService.getCurrentState().pageIndex * paginationService.getCurrentState().pageSize"
          [rows]="paginationService.getCurrentState().pageSize"
          [totalRecords]="totalItems"
          (pageChange)="onPaginatorChange($event)"
        />
      </div>
    </ng-container>

    <ng-template #emptyState>
      <div class="empty-state">
        <div class="icon-wrapper">
          <i class="pi pi-car"></i>
        </div>
        <div class="content-wrapper">
          <h3>Twoja kolekcja pojazdów jest pusta</h3>
          <p>Rozpocznij swoją przygodę od dodania pierwszego pojazdu do swojej kolekcji</p>
          <div class="hint">
            <span>Kliknij przycisk w prawym dolnym rogu ekranu, aby dodać pojazd</span>
          </div>
        </div>
      </div>
    </ng-template>

    <button
      *ngIf="isComponentLoaded"
      pButton
      pRipple
      class="add-vehicle-btn"
      [ngClass]="{'slide-in-right': isComponentLoaded}"
      (click)="openVehicleDialog()"
    >
      <div class="btn-content">
        <i class="pi pi-plus-circle plus-icon"></i>
        <span class="btn-label">Dodaj pojazd</span>
      </div>
    </button>
  </ng-container>
</div>
