<div class="vehicle-details-container">
  <mat-card *ngIf="vehicle" class="vehicle-card">
    <mat-card-header>
      <mat-card-title>Szczegóły pojazdu</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="form-grid">
        <div class="detail-item">
          <strong>Marka:</strong> {{ vehicle.brand }}
        </div>
        <div class="detail-item">
          <strong>Model:</strong> {{ vehicle.model }}
        </div>
        <div class="detail-item">
          <strong>Rok produkcji:</strong> {{ vehicle.year }}
        </div>
        <div class="detail-item">
          <strong>Tablica rejestracyjna:</strong> {{ vehicle.licensePlate }}
        </div>
        <div class="detail-item">
          <strong>Numer VIN:</strong> {{ vehicle.vin }}
        </div>
        <div class="detail-item">
          <strong>Pojemność silnika:</strong> {{ vehicle.engineCapacity }}
        </div>
        <div class="detail-item">
          <strong>Moc silnika:</strong> {{ vehicle.enginePower }} km
        </div>
        <div class="detail-item">
          <strong>Skrzynia biegów:</strong> {{ vehicle.gearboxType }}
        </div>
        <div class="detail-item">
          <strong>Rodzaj paliwa:</strong> {{ vehicle.fuelType }}
        </div>
        <div class="detail-item">
          <strong>Typ pojazdu:</strong> {{ vehicle.vehicleType }}
        </div>
        <div class="detail-item">
          <strong>Dodano do systemu:</strong> {{ vehicle.createdAt | date: 'dd.MM.yyyy HH:mm' }}
        </div>
      </div>
    </mat-card-content>

    <mat-card class="service-book-card mt-4">
      <mat-card-header>
        <mat-card-title>Książka serwisowa</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Naprawy</mat-panel-title>
              <mat-panel-description>
                {{ services.length || 0 }} wpisów
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-container *ngIf="services.length > 0; else noRepairs">
              <mat-list>
                <mat-list-item *ngFor="let service of services">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header (click)="openServiceDetails(service)">
                        <mat-panel-title>
                          {{ service.title }}
                          <i
                            title="Usuń naprawę"
                            class="bi-trash align-content-end action-icon"
                            (click)="$event.stopPropagation(); confirmServiceDelete(service)"
                            (mouseover)="hoveredAction = 'details-' + service.id"
                            (mouseleave)="hoveredAction = null"
                            [style.color]="hoveredAction === 'details-' + service.id ? 'red' : 'inherit'">
                          </i>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                    </mat-expansion-panel>
                  </mat-accordion>
                </mat-list-item>
              </mat-list>
            </ng-container>

            <button
              mat-fab
              color="primary"
              class="add-insurance-btn"
              (click)="showAddServiceForm()"
              title="Dodaj serwis">
              <i class="bi-plus"></i>
            </button>

            <ng-template #noRepairs>
              <p class="text-center">Brak wpisów napraw</p>
            </ng-template>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Przeglądy</mat-panel-title>
              <mat-panel-description>
                {{ inspections.length || 0 }} wpisów
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-container *ngIf="services.length > 0; else noInspections">
              <mat-list>
                <mat-list-item *ngFor="let inspection of inspections">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header (click)="openInspectionDetails(inspection)">
                        <mat-panel-title>
                          {{ inspection.title }}
                          <i
                            title="Usuń przegląd"
                            class="bi-trash align-content-end action-icon"
                            (click)="confirmInspectionDelete(inspection)"
                            (mouseover)="hoveredAction = 'details-' + inspection.id"
                            (mouseleave)="hoveredAction = null"
                            [style.color]="hoveredAction === 'details-' + inspection.id ? 'red' : 'inherit'">
                          </i>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                    </mat-expansion-panel>
                  </mat-accordion>
                </mat-list-item>
              </mat-list>
            </ng-container>

            <ng-template #noInspections>
              <p class="text-center">Brak wpisów przeglądów</p>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt-4">
      <mat-card-header>
        <mat-card-title>Ubezpieczenia</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>


              <ng-container *ngIf="insurances.length > 0; else noInsurances">
                <mat-list>
                  <mat-list-item *ngFor="let insurance of insurances">
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header (click)="openInsuranceDetails(insurance)">
                          <mat-panel-title>
                            {{ insurance.title }}
                            <i
                              title="Usuń ubezpieczenie"
                              class="bi-trash align-content-end action-icon"
                              (click)="$event.stopPropagation(); confirmInsuranceDelete(insurance)"
                              (mouseover)="hoveredAction = 'details-' + insurance.insuranceId"
                              (mouseleave)="hoveredAction = null"
                              [style.color]="hoveredAction === 'details-' + insurance.insuranceId ? 'red' : 'inherit'">
                            </i>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-list-item>
                </mat-list>

                <button
                  mat-fab
                  color="primary"
                  class="add-insurance-btn"
                  (click)="showAddInsuranceForm()"
                  title="Dodaj ubezpieczenie">
                  <i class="bi-plus"></i>
                </button>

              </ng-container>

              <ng-template #noInsurances>
                <p class="text-center">Brak wpisów ubezpieczeń</p>
              </ng-template>


        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openEditDialog()">Edytuj</button>
      <button mat-raised-button color="warn">Usuń</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="!vehicle" class="loading-card">
    <mat-card-content>
      <mat-spinner></mat-spinner>
      <p>Ładuję informacje...</p>
    </mat-card-content>
  </mat-card>
</div>
