.create-service-container {
  padding: 1.5rem;

  h2 {
    color: var(--primary-color);
    margin-bottom: 2.5rem;
  }

  .form-grid {
    display: grid;
    gap: 1rem;
  }

  .field {
    margin-bottom: 1.5rem;
  }

  .costs-container {
    .cost-item {
      margin-bottom: 2.5rem;

      .grid {
        display: grid;
        grid-template-columns: 5fr 5fr 2fr;
        gap: 3rem;
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  .total-cost {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1.1rem;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin-top: 2rem;

    .p-button {
      min-width: 120px;
      padding: 0.75rem 1.25rem;
    }
  }

  :host ::ng-deep {
    .p-calendar {
      width: 100%;
    }

    .p-inputnumber {
      width: 100%;
    }

    .p-card {
      .p-card-header {
        padding: 1.25rem;
        background: var(--surface-100);
        text-align: center;

        h3 {
          font-weight: 700;
          font-size: 1.2rem;
          color: var(--primary-color);
          display: inline-block;
          margin: 0 auto;
        }
      }

      .p-card-content {
        padding: 2rem;
      }
    }

    .p-float-label {
      margin-bottom: 1rem;
    }
  }
}

:host ::ng-deep {
  .p-datepicker-touch-ui {
    transform: scale(0.8);
    width: 90vw;
    max-width: 300px;

    .p-datepicker-header {
      padding: 0.3rem;
    }

    table {
      font-size: 0.8rem;
    }
  }
}

.costs {
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
}

.error-message {
  color: red;
}
