<div class="create-service-container">
  <form [formGroup]="createServiceForm" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="form-grid">
      <div class="field">
       <span class="p-float-label">
         <i class="pi pi-tag"
            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #666;"></i>
         <input pInputText id="title" formControlName="title"
                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('title')}"/>
         <label for="title">📝 Tytuł</label>
       </span>
        <small class="error-message" *ngIf="isFieldInvalid('title')">
          {{ getControlError('title') }}
        </small>
      </div>

      <div class="field">
       <span class="p-float-label">
         <i class="pi pi-info-circle" style="position: absolute; right: 10px; top: 25px; color: #666;"></i>
         <textarea pInputTextarea id="description" formControlName="description" rows="3" autoResize="true"></textarea>
         <label for="description">📄 Opis</label>
       </span>
        <small class="error-message" *ngIf="isFieldInvalid('description')">
          {{ getControlError('description') }}
        </small>
      </div>

      <div class="field">
       <span class="p-float-label">
           <p-calendar id="date"
                       formControlName="date"
                       [showIcon]="true"
                       dateFormat="dd.mm.yy"
                       [touchUI]="true"
                       [readonlyInput]="true"
                       [locale]="pl"
                       [showButtonBar]="true"
                       [style]="{'width': '100%'}"
                       [panelStyle]="{'width': '90%', 'max-width': '300px', 'min-height': '300px', 'height': 'auto'}"
           >
          </p-calendar>
         <label for="date">📅 Data wykonania</label>
       </span>
        <small class="error-message" *ngIf="isFieldInvalid('date')">
          {{ getControlError('date') }}
        </small>
      </div>

      <p-card>
        <ng-template pTemplate="header">
          <div>
            <h3 class="costs">💰 Koszty</h3>
            <span class="total-cost costs mt-2">💵 Suma: {{ formState$.getValue().totalCost }} PLN</span>
          </div>
        </ng-template>

        <div formArrayName="costs" class="costs-container">
          <div *ngFor="let cost of costs.controls; let i = index" [formGroupName]="i" class="cost-item">
            <div class="grid cols-gap-6">
              <div class="col-5">
               <span class="p-float-label">
                 <i class="pi pi-bookmark"
                    style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #666;"></i>
                 <input pInputText formControlName="title"
                        [ngClass]="{'ng-invalid ng-dirty': validateCostControl(i, 'title', 'required')}"/>
                 <label>🏷️ Tytuł kosztu</label>
               </span>
                <small class="error-message" *ngIf="isFieldInvalid('title')">
                  {{ getControlError('title') }}
                </small>
              </div>

              <div class="col-5">
               <span class="p-float-label">
                 <p-inputNumber
                   formControlName="amount"
                   mode="decimal"
                   [minFractionDigits]="2"
                   [maxFractionDigits]="2"
                   [suffix]="' PLN'"
                 >

                 </p-inputNumber>
                 <label>💲 Kwota</label>
               </span>
                <small class="error-message" *ngIf="isFieldInvalid('amount')">
                  {{ getControlError('amount') }}
                </small>
              </div>

              <div class="col-2 flex align-items-center justify-content-center">
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-outlined"
                        (click)="removeCost(i)"></button>
              </div>
            </div>
          </div>

          <button pButton type="button"
                  label="➕ Dodaj koszt"
                  (click)="addCost()"
                  class="p-button-outlined mt-3"></button>
        </div>
      </p-card>
    </div>

    <p-divider></p-divider>

    <div class="button-container">
      <button pButton type="button"
              label="❌ Anuluj"
              class="p-button-outlined"
              (click)="close()"></button>
      <button pButton type="reset"
              label="🔄 Wyczyść"
              class="p-button-secondary"
              (click)="createServiceForm.reset()"></button>
      <button pButton type="submit"
              label="✅ Dodaj nowy serwis"
              [disabled]="!isFormValid()"></button>
    </div>
  </form>
</div>
