<form [formGroup]="createVehicleForm" (ngSubmit)="onSubmit()" class="vehicle-form">
  <div class="form-grid">
      <span class="p-float-label">
        <input pInputText id="brand" formControlName="brand" [required]="true">
        <label for="brand">Marka</label>
        <small class="p-error" *ngIf="createVehicleForm.get('brand')?.errors?.['required'] && createVehicleForm.get('brand')?.dirty ">
          Pole wymagane
        </small>
      </span>

    <span class="p-float-label">
        <input pInputText id="model" formControlName="model" [required]="true">
        <label for="model">Model</label>
        <small class="p-error" *ngIf="createVehicleForm.get('model')?.errors?.['required'] && createVehicleForm.get('model')?.dirty">
          Pole wymagane
        </small>
      </span>

    <span class="p-float-label">
        <p-inputNumber id="year" formControlName="year" [required]="true"
                       [min]="1900" [max]="currentYear" [useGrouping]="false">
        </p-inputNumber>
        <label for="year">Rok produkcji</label>
        <small class="p-error" *ngIf="createVehicleForm.get('year')?.errors?.['required'] && createVehicleForm.get('year')?.dirty">
          Pole wymagane
        </small>
        <small class="p-error" *ngIf="createVehicleForm.get('year')?.errors?.['min'] || createVehicleForm.get('year')?.errors?.['max'] && createVehicleForm.get('year')?.dirty">
          Rok musi być między 1900 a {{ currentYear }}
        </small>
      </span>

    <span class="p-float-label">
        <input pInputText id="licensePlate" formControlName="licensePlate" [required]="true">
        <label for="licensePlate">Numer rejestracyjny</label>
        <small class="p-error" *ngIf="createVehicleForm.get('licensePlate')?.errors?.['required'] && createVehicleForm.get('licensePlate')?.dirty">
          Pole wymagane
        </small>
      </span>

    <span class="p-float-label">
        <input pInputText id="vin" formControlName="vin" [required]="true">
        <label for="vin">VIN</label>
        <small class="p-error" *ngIf="createVehicleForm.get('vin')?.errors?.['required']  && createVehicleForm.get('vin')?.dirty">
          Pole wymagane
        </small>
        <small class="p-error" *ngIf="createVehicleForm.get('vin')?.errors?.['minlength'] || createVehicleForm.get('vin')?.errors?.['maxlength']  && createVehicleForm.get('vin')?.dirty">
          VIN musi mieć dokładnie 17 znaków
        </small>
      </span>

    <span class="p-float-label">
        <p-inputNumber id="engineCapacity" formControlName="engineCapacity" [required]="true">
        </p-inputNumber>
        <label for="engineCapacity">Poj. silnika (w cm3)</label>
        <small class="p-error" *ngIf="createVehicleForm.get('engineCapacity')?.errors?.['required'] && createVehicleForm.get('engineCapacity')?.dirty">
          Pole wymagane
        </small>
      </span>

    <span class="p-float-label">
        <p-inputNumber id="enginePower" formControlName="enginePower" [required]="true" suffix=" KM" >
        </p-inputNumber>
        <label for="enginePower">Moc silnika</label>
        <small class="p-error" *ngIf="createVehicleForm.get('enginePower')?.errors?.['required'] && createVehicleForm.get('enginePower')?.dirty">
          Pole wymagane
        </small>
      </span>

    <span class="p-float-label">
        <p-dropdown id="fuelType" [options]="fuelTypes" formControlName="fuelType"
                    optionLabel="value" optionValue="key" [required]="true">
        </p-dropdown>
        <label for="fuelType">Rodzaj paliwa</label>
        <small class="p-error" *ngIf="createVehicleForm.get('fuelType')?.errors?.['required'] && createVehicleForm.get('fuelType')?.dirty ">
          Pole wymagane
        </small>
      </span>

    <span class="p-float-label">
        <p-dropdown id="gearboxType" [options]="gearboxTypes" formControlName="gearboxType"
                    optionLabel="value" optionValue="key" [required]="true">
        </p-dropdown>
        <label for="gearboxType">Typ skrzyni biegów</label>
        <small class="p-error" *ngIf="createVehicleForm.get('gearboxType')?.errors?.['required'] && createVehicleForm.get('gearboxType')?.dirty ">
          Pole wymagane
        </small>
      </span>


    <span class="p-float-label">
        <p-dropdown id="vehicleType" [options]="vehicleTypes" formControlName="vehicleType"
                    optionLabel="value" optionValue="key" [required]="true">
        </p-dropdown>
        <label for="vehicleType">Typ pojazdu</label>
        <small class="p-error" *ngIf="createVehicleForm.get('vehicleType')?.errors?.['required'] && createVehicleForm.get('vehicleType')?.dirty ">
          Pole wymagane
        </small>
      </span>
  </div>

  <div class="button-container-form">
    <p-button label="Wyczyść" (onClick)="createVehicleForm.reset()" styleClass="p-button-text" [disabled]="isSubmitting"></p-button>
    <p-button label="Dodaj nowy pojazd" type="submit" [disabled]="!createVehicleForm.valid || isSubmitting"
              styleClass="p-button-primary" [loading]="isSubmitting"></p-button>
  </div>
</form>

